<body>
  <h1>Skill #<%= skillNum %></h1>  
  <h3><%= skill.skill%> : Level <%=skill.level%></h3>
  <p><%= skill.description%></p>
  <a href="/skills/<%= skillNum - 1 %>/edit">Edit Skill</a>
  <a href="../skills/">Return to Skills List</a>
  <a href="../">Return to Home Page</a>
</body>